/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* акцент #2196F3 */
/* фон шапки и подвала #2F303A */
/* цвет контактов в footer rgba(255, 255, 255, 0.6); */
/* вторичный цвет кнопки героя #188CE8 */

:root {
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --header-and-footer-color: #2f303a;
  --primary-text-color: #212121;
  --title-text-cilor: #757575;
  --accent-color: #2196f3;
  --text-contact-footer: rgba(255, 255, 255, 0.6);
  --secod-accent-color: #188ce8;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

.hero,
.footer {
  background-color: var(--header-and-footer-color);
}

.hero {
  margin-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
}

/* border */
.logo,
.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid #000; */
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.web {
  color: var(--accent-color);
}

.link {
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.headblock {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-nav {
  margin-left: 93px;
}

.site-nav .list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.list.headercont {
  display: flex;
  margin-left: auto;
}

.headercont .item + .item {
  margin-left: 50px;
}

.headercont .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-cilor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* hero */
.hero {
  text-align: center;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.5;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.button-hero {
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;

  border: none;
  padding: 10px 32px;
  text-decoration: none;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--secod-accent-color);
}

/* peculiarities */
.section.peculiarities {
  padding-bottom: 94px;
}

.peculiarities .list {
  display: flex;
}

.peculiarities .item + .item {
  margin-left: 30px;
}

.peculiarities .section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-bottom: 10px;
}

.peculiarities .text {
  color: var(--title-text-cilor);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* what are we doing */
.section.doing {
  padding-bottom: 94px;
}

.doing .section-title {
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.doing .list {
  display: flex;
  justify-content: space-between;
}

/* team */

.team {
  background-color: var(--second-background-color);
}

.team .list {
  display: flex;
  justify-content: space-between;
}

.team .section-title {
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}

.team .list {
  padding-bottom: 94px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.role {
  color: var(--title-text-cilor);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* footer */
.logo.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 20px;
}

.studio {
  color: var(--background-color);
}

.address {
  display: block;
  padding-bottom: 60px;

  color: var(--background-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .link {
  color: var(--text-contact-footer);
}

/* PORTFOLIO */
.header.portfolio {
  margin-bottom: 94px;
}

.section.project {
  margin-bottom: 94px;
}

.filter .list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.filter .item + .item {
  margin-left: 8px;
}

.button.link {
  background-color: var(--second-background-color);
}

.filter .link:hover,
.filter .link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.filter .link.current {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.list.project {
  display: flex;
  flex-wrap: wrap;
}

.list.project .item {
  display: block;
  width: calc((100%  - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.list.project .item:nth-child(3n) {
  margin-right: 0;
}

.list.project .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.link-filter {
  text-decoration: none;
}

.link-filter img {
  margin-bottom: 20px;
}

.cards {
  margin-left: 24px;
  margin-bottom: 20px;
}

.project .section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project .text {
  color: var(--title-text-cilor);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
