/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* белый #FFFFFF */
/* вторичный цвет фона #F5F4FA */
/* акцент #2196F3 */
/* фон шапки и подвала #2F303A */
/* цвет контактов в footer rgba(255, 255, 255, 0.6); */
/* вторичный цвет кнопки героя #188CE8 */

:root {
  --background-color: #ffffff;
  --second-background-color: #f5f4fa;
  --header-and-footer-color: #2f303a;
  --primary-text-color: #212121;
  --title-text-cilor: #757575;
  --accent-color: #2196f3;
  --text-contact-footer: rgba(255, 255, 255, 0.6);
  --secod-accent-color: #188ce8;
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  /* outline: 2px solid #000; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowarp;
  clip-path: insert(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  border-bottom: 1px solid #ececec;
}

.hero,
.footer {
  background-color: var(--header-and-footer-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list .link:hover,
.list .link:focus {
  color: var(--accent-color);
}

/* Border */
.headblock {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.web {
  color: var(--accent-color);
}

.site-nav {
  margin-left: 93px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .list {
  display: flex;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.list.headercont {
  display: flex;
  margin-left: auto;
}

.headercont .item + .item {
  margin-left: 50px;
}

.headercont .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-cilor);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Hero */
.hero {
  text-align: center;

  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: var(--background-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  margin-bottom: 30px;
  text-transform: uppercase;
}

.button-hero {
  color: var(--background-color);
  background-color: var(--accent-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;

  line-height: 1.88;
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--secod-accent-color);
}

/* Peculiarities */
.section.peculiarities {
  padding-top: 94px;
  padding-bottom: 94px;
}

.peculiarities .list {
  display: flex;
}

.peculiarities .item + .item {
  margin-left: 30px;
}

.peculiarities .section-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  margin-bottom: 10px;
}

.peculiarities .text {
  color: var(--title-text-cilor);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Doing */
.section.doing {
  padding-bottom: 94px;
}

.doing .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  text-align: center;
}

.doing .list {
  display: flex;

  margin-top: 50px;
}

.list > .pic {
flex-basis: calc(100% - 60px/3);
}

.list  > .pic + .pic {
  margin-left: 30px;
}

/* Team */
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
}
.team {
  background-color: var(--second-background-color);
}

.team .section-title {
  font-weight: 700;
  font-size: 36px;  
  text-align: center;
  line-height: 1.16;
}

.team .list {
  display: flex;

  margin-top: 50px;
}


.list >.cards-foto {
  flex-basis: calc(100% - 90px/4);
}

.list > .cards-foto + .cards-foto {
  margin-left: 30px;
}

.cards-foto {
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.title-foto {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  margin-bottom: 10px;
}

.role {
  color: var(--title-text-cilor);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;

  margin-bottom: 20px;
}

.studio {
  color: var(--background-color);
}

.address {
  display: block;

  color: var(--background-color);
  font-style: normal;
   font-size: 14px;
  line-height: 1.71;
}

.address .link {
  color: var(--text-contact-footer);
}

.link.adr {
  color: var(--background-color);
}

.address .item-adr + .item-adr {
  margin-top: 9px;
}

/* PORTFOLIO */

.section.project {
  padding-bottom: 94px;
  padding-top: 94px;
}

/* Filter */

.filter>.list.btn {
  display: flex;
  justify-content: center;

  font-size: 16px;

  margin-bottom: 50px;
}

.filter .item-btn + .item-btn {
  margin-left: 8px;
}

.button {
  border: none;
  padding: 6px 22px;
  border-radius: 4px;

  font-weight: 500;
  line-height: 1.62;

  cursor: pointer;
}

.button.link {
  background-color: var(--second-background-color);
}

.filter .link:hover,
.filter .link:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.filter .link.current {
  background-color: var(--accent-color);
  color: var(--background-color);
}

/* List project */
.list.project {
  display: flex;
  flex-wrap: wrap;
}

.list.project .item {
  display: block;
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  border: 1px solid #eeeeee;
}

.list.project .item:nth-child(3n) {
  margin-right: 0;
}

.list.project .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.cards {
 padding: 20px 24px;
  
  */
}

.project .section-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  /* margin-top: 20px; */
  margin-bottom: 4px;
}

.project .text {
  color: var(--title-text-cilor);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  /* padding-bottom: 20px; */
}

